.t1{
    background-color: rgb(190, 249, 230);
    
    margin: 50px;
    padding: 20px;
    padding-top: 100px;

}

h2{
    padding-left: 50px;

}

.p1{
    margin: 40px;
}

.p2{
    margin: 40px;
}
